body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333333;
    background: #1e1d1d;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    scrollbar-color: #888 #f1f1f1; /* Botão de rolagem e track */
}

.logo-index {
    text-align: center;
    margin-bottom: 20px;
}

.logo-index img {
    max-width: 200px;
}

.container-index {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.message-index {
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 450px;
}

p{
    color: #c7c7c7;
    padding: 10px;
}
a{
    color: #c7c7c7;
}

.button-index {
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.button-index:hover {
    background-color: #1e1d1d;
}

.button-index:focus {
    outline: none;
}

.footer-index {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 20px;
    color: #888888;
}

.sidebar-index {
    flex-basis: 15%;
    padding: 20px;
    transition: background-color 0.3s ease;
}
.sidebar-index ul {
    list-style-type: none;
    padding: 0;
}
.sidebar-index li {
    margin-bottom: 10px;
}
.sidebar-index a {
    display: block;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.sidebar-index a:hover {
    background-color: #383838;
}

/* Estilizar a barra de rolagem inteira */
::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
}

/* Botão de rolagem */
::-webkit-scrollbar-thumb {
    background: #888; /* Cor do botão de rolagem */
    border-radius: 4px; /* Raio da borda do botão de rolagem */
}

/* Botão de rolagem ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor do botão de rolagem ao passar o mouse */
}

/* Track da rolagem */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do track */
    border-radius: 4px; /* Raio da borda do track */
}


.back-link {
    display: inline-block;
    color: #919191;
    text-decoration: none;
    padding: 10px;
    position: absolute; /* Adicionado */
    top: 10px; /* Adicionado */
    left: 20px; /* Adicionado */
    transition: all 0.3s ease;
    line-height: 20px;
}

.back-link:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid #919191;
    border-left: 2px solid #919191;
    transform: rotate(-45deg);
    left: 0;
    top: 50%;
    margin-top: -7px;
}

.back-link:hover {
    color: #555;
}

.back-link:hover:before {
    border-color: #555;
}

