p {
    text-indent: 1.5cm;
    text-align: justify;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ececf1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    scrollbar-color: #888 #f1f1f1;
}

.navbar {
    padding: 10px;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.theme-button {
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}

.theme-button:hover {
    background-color: #eaeaea;
}

.container {
    display: flex;
    flex-grow: 1;
}

.sidebar-container {
    flex-basis: 25%;
    padding: 20px;
    transition: background-color 0.3s ease;
    background-color: #1a1a1a;
    color: #ffffff;
    margin: -8px 10px -10px -8px;
}


.sidebar-container ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-container li {
    margin-bottom: 10px;
}

.sidebar-container a {
    display: block;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    background-color: #1a1a1a;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.sidebar-container a:hover {
    background-color: #383838;
}

.active {
    background-color: #f2f2f2;
    font-weight: bold;
}

.content {
    flex-basis: 85%;
    padding: 20px;
    background: #333333;
    margin: -10px ;
}

.footer {
    padding: 20px;
    text-align: center;
    color: #888888;
}

.dark-theme {
    background-color: #333333;
    color: #ffffff;
}
